{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
        {% if app.request.get('_route') == 'app_home' %}
            {% for cat in category %}
                <p><a href="{{ path('app_home_category', {id: cat.id}) }}" class="btn btn-dark">{{cat.name}}</a></p>
            {% endfor %}
        {% elseif app.request.get('_route') == 'app_home_category' %}
            {% for catparent in category.categories %}
                <p><a href="{{ path('app_home_productByCategory', {id: catparent.id}) }}" class="btn btn-dark">{{catparent.name}}</a></p>
            {% endfor %}
        {% endif %}
{% endblock %}
